.spyproject
__pycache__
Data
Results
Result Analysis
Analysis.docx
Code/Pre-processing.py
Code/correlation_analysis.py
Code/Old
ExpData
Paper
Correlation Analysis
Models equations.docx
Installation analisys.xlsx
0--Old
GeoTAnalysis
Possibili attività EP-PINNS.docx